/*font related styles */
body {
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    padding: 15px 35px;


}
/*navbar stles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav_head{
    color: var(--Dark-01, #181818);

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.text-color{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
   
}
nav  li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header styles*/
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .pro-pic{
    width: 584px;
height: 676px;
flex-shrink: 0;
}
.heading1{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}
.heading2{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-disc{
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner.cont{
    max-width: 500px;
}
/*main section styles */


/*about section styles */
main{
    max-width: 1300px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
}
.about{
    padding: 120px;
    border-radius: 10px;
    background: #FFF8F3;
   margin: 130px;
}
.section-style{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-desc{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about-info{
    text-align: center;

}
.info-desc{
    color: #474747;
    font-weight: 700;
}
.info-title{
    color: #757575;
}
.about_container{
    display: flex;
    justify-content: space-around;
}
#whatido{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-cont{
    display: flex;
    gap: 50px;
}
.resume-desc{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0px;

}
.resume-header2{
    font-size: 20px;
    font-weight: 600;

}
.download-cv{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
footer{
    display: flex;
    background-color:#FFF8F3;
    padding: 130px 230px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: 0;
    
}
.contact input[type="text"], .contact input[type="email"],textarea{
    width: 100%;
}
.social-links a{
    margin-right: 25px;
}